.search-bar .dropdown-toggle {
  background-color: #079ce0 !important;
  color: #fff !important;
  border: none !important;
  outline: none !important;
}
.search-bar .dropdown-toggle:hover {
  background-color: rgba(7, 176, 255, 0.164) !important;
}
